<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

   <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <%= x %>
    <p>Welcome to the new <%= title %>. You have <%= points %> points</p>
  </body>
</html>
